*{
    box-sizing: border-box;
}
body{
    height: 100%;

    background-color: #EEF9BF;
}

img{
    width: 90px;
    height:  90px;
}

.conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #EEF9BF;

    height: 100%;
    width: 100%;
}
.conteudo h1{
    font-family: 'Roboto', sans-serif;
    font-size: 300%;
    font-weight: 700;

    color: #75B79E;

    /*width: 50%;*/

    text-align: center;
}
.title{
    margin:0 auto;
    margin-top: 40px;
}
.tabletop{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    width: 80%;

    margin-top: 30px;

    /*background-color: aqua;*/
}
.tabletop  > div {


    width: 117px;
    height: 146px;

    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;

    position: relative;
}
.face{
    background-color: #A7E9AF;

    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #99CEA8;

    

    width: 117px;
    height: 146px;

    display: flex;
    justify-content: center;
    align-items: center;
    
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;

    position: absolute;
}

.Parrot{
    transform: rotateY(180deg);
    
}
.Parrot img{
    
    width: 90px;
    height:  90px;
}

.Parrot{
    transform: rotateY(0deg);
}

.backParrot{
    transform: rotateY(-180deg);
}

@media (max-width: 435px) {
    .conteudo h1{
        text-overflow: clip;
        text-align:none;
    }
    .title{
        
        margin:0 auto;
        margin-top: 40px;
    }
}